.productImage {
    height: 20vh;
}
.mountain {
    color: white;
}
.productItem {
    height: 30vh;
}
.cursor {
    cursor: pointer;
}
.checkout {
    width: 50vw;
}
body {
    height: 100vh;
    width: 100vw;
    background-image: url(./images/wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}